@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Poppins:wght@300;400;600;700&display=swap');

*{
    /*reseting borders*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    /*smoothing the scroll transition*/
    scroll-behavior: smooth;
}

body{
    background-color: #171717;
    height: auto;
}

.bg-homepage{
    position: relative;
    width: 100%;
    height: 967px;

    background-image: url('../assets/nasa-bg.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

    opacity: 0.3;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    position: fixed;
    top: 0;
    left: 0;

    background-color: #111;

    padding: 50px;
    width: 100vw;
    height: 90px;
    z-index: 2;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

}

header .logoNav{
    width: 180px;
    height: 70px;
    margin-right: 256px;
    padding-top: 5px;
}

header a{
    width: 189px;
    height: 73px;
    margin-right: 10%;
}

header .navMenu{
    display: flex;
    align-items: center;

    width: 100%;
    height: 65px;
}

.navMenu ul{
    display: flex;
    justify-content: center;
    list-style: none;
    justify-content: space-between;

    width: 100%;
}


.navMenu a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 8rem;

    text-decoration: none;
    text-align: center;
    color: white;

}

.navMenu a::after{
    content: '';
    display: flex;
    text-decoration: none;
    background-color: #FFF;

    width: 0;
    height: 2px;

    transition: width .4s;
}

.navMenu a:hover::after{
    width: 100%;
    transition: width 0.3s 
}


