@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Poppins:wght@300;400;600;700&display=swap');

.partners{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 100%;
   height: 750px;
   background-color: #101011;

   padding-top: 20px;
}

.partners h4{
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 700;
   font-size: 4rem;

   color: #FFF;

   text-align: center;
   
}

.carousel-container{
   display: flex;

   margin-top: 30px;

   width: 50%;
   height: 300px;
   
   border-radius: 10px;

   border-left: 3px #FFF solid;
   border-right: 3px #FFF solid;
   border-top: 3px #FFF solid;

}

.items{
   display: flex;
   width: 100%;

   overflow-x: auto;
   scroll-snap-type: x mandatory;
}

.items::-webkit-scrollbar{
   width: 10px;
   border-radius: 20px;
}

.items::-webkit-scrollbar-track{
   background-color: #424242;
   border-radius: 20px;
   padding: 5px;
}

.items::-webkit-scrollbar-thumb{
   background-color: #3485DA;
   border-radius: 20px;  
}

.logo-smiles{
   flex: none;
   width: 100%;

   scroll-snap-align: start;

   background-image: url('../assets/smiles-logo.svg');
   background-size: 50% 50%;
   background-repeat: no-repeat;
   background-position: center;
}

.logo-gol{
   flex: none;
   width: 100%;

   scroll-snap-align: start;

   background-image: url('../assets/gol-logo.svg');
   background-size: 100% 100%;
   background-repeat: no-repeat;
}

.logo-vivo{
   flex: none;
   width: 100%;

   scroll-snap-align: start;

   background-image: url('../assets/vivo-logo.svg');
   background-size: 50% 50%;
   background-repeat: no-repeat;
   background-position: center;
}


/*responsividade*/
@media screen and (max-width: 414px){

   .partners{
      height: 500px;
   }

   .partners h4{
      font-size: 2.4rem;
   }
}

@media screen and (max-width: 600px) {
   .partners{
      height: 620px;
   }
   
   .partners h4{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 2.4rem;
   
      color: #FFF;
   
      text-align: center;
      
   }
   
   .carousel-container{
      width: 70%;
      height: 300px; 
   }
}
