@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Poppins:wght@300;400;600;700&display=swap');

*{
    /*reseting borders*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /*smoothing the scroll transition*/
    scroll-behavior: smooth;
}

body{
    background-color: #171717;
    height: auto;
}

.bg-homepage{
    position: relative;
    width: 100%;
    height: 967px;

    background-image: url('../assets/nasa-bg.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

    opacity: 0.3;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    position: absolute;
    top: 0;
    left: 0;

    padding: 35px 55px;
    width: 100%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    animation: fadeIn 2s backwards;
}

header .logoNav{
    width: 189px;
    height: 73px;
    margin-right: 256px;
}

header .navMenu{
    display: flex;
    align-items: center;

    width: 100%;
    height: 73px;
}

.navMenu ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;
}

.navMenu a{
    text-decoration: none;
    color: white;

}

.navMenu a::after{
    content: '';
    display: block;
    text-decoration: none;
    background-color: #FFF;

    width: 0;
    height: 2px;

    transition: width .4s;
}

.navMenu a:hover::after{
    width: 100%;
    transition: width 0.3s 
}

/*main content*/

.btn-top{
    position: fixed;
    bottom: 50px;
    right: 40px;

    width: 50px;
    height: 50px;

    background-image: url('../assets/up-arrow-svgrepo-com.svg');
    background-repeat: no-repeat;
    background-color: #171717;

    border: 3px solid #171717;
    border-radius: 50%;

    z-index: 1;

    transition: .3s;
}

.btn-top:hover{
    transform: scale(1.1);
}

/*section: homepage*/
.homepage{
    position: absolute;
    top: 297px;
    left: 0;

    width: 100%;

    animation: fadeIn 2s backwards;
    animation-delay: .2s;
}

.homepage h1{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    
    color: white;

    padding-left: 10%;
    padding-right: 50%;

    width: 100%;
    
}

.homepage .typing-words{
    color:#3485DA; 
    font-weight: 700;

    width: auto;
}

.typing-words span{
    text-indent:27px;

    position: absolute;
	overflow: hidden;
	
    visibility: hidden;
    border-right: 4px solid transparent;
    max-width: 27rem;
}

.typing-words span:nth-child(1){
    animation: typing 2s steps(30), typingReverse 2s steps(30) 2s, blink-wait 1s step-end 0 1.4s, blink-caret 0.5s step-end infinite;
}

.typing-words span:nth-child(2){
    animation: typing 2s steps(30) 4.3s, typingReverse 2s steps(30) 6.1s, blink-wait 1s step-end 0 3.8s, blink-caret 0.5s step-end infinite;
}

.typing-words span:nth-child(3){
    animation: typing 2s steps(30) 8.2s forwards, blink-caret 0.6s step-end infinite;
}


/*section: about-us*/
.about-us{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 900px;

    background-color: #424242;
}

.about-us article{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin: 0 300px;
    height: 700px;
}

.about-us .text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 900px;

    margin-right: 100px;
}

.about-us article h2{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 60px;

    color:#FFF;
}
.about-us article h2>span{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 60px;
    color: #68B54C;
}

.about-us article p{
    margin-top: 27px;

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;

    color: #FFF;
}

.about-us article::after{
    content: '';

    width: 100%;
    height: 642px;

    background-image: url('../assets/about-us-photos.svg');
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;

}


/*section: products and services*/
.products{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 840px;
}

.products article{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
}

.products article>h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;

    color:#FFF;

    margin: 50px 0px;
}

.products .card-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    width: 90%;
    height: 420px;
    margin-top: 40px;
}


.cards-top{
    display: flex;
    justify-content: space-evenly;

    position: relative;
}

.cards-middle{
    display: flex;
    justify-content: space-between;

    position: absolute;
    bottom: 10%;

    width: 50%;

}

@media  screen and (max-width: 1920px) {
    .cards-middle{
        width: 47%;
    }
}

.cards-bottom{
    display: flex;
    justify-content: space-between;

    position: absolute;

    width: 80%;

    bottom: 0;
}

.card-consultoria{
    width: 251px;
    height: 329px;

    border-radius: 40px;
    box-shadow: #171717 0px 10px 10px;

    background-image: url('../assets/card-consultoria.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    transition: .3s;
}

.card-consultoria:hover{
    transform: translate(-50px, -20px) rotate(-10deg);
    z-index: 1;
}

.card-fabSoftware{
    width: 251px;
    height: 329px;

    border-radius: 40px;
    box-shadow: #171717 0px 10px 10px;
    
    background-image: url('../assets/card-fabrica.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    transition: .3s;
}

.card-fabSoftware:hover{
    transform: translate(-30px, -30px) rotate(-10deg);
    z-index: 1;
}

.card-prisma{
    width: 251px;
    height: 329px;

    border-radius: 40px;
    box-shadow: #171717 0px 10px 10px;
    
    background-image: url('../assets/card-prisma.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    transition: .3s;
}

.card-prisma:hover{
    transform: translateY(-30px);
    z-index: 1;
}

.card-treinamentos{
    width: 251px;
    height: 329px;

    border-radius: 40px;
    box-shadow: #171717 0px 10px 10px;
    
    background-image: url('../assets/card-treinamentos.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    transition: .3s;
}

.card-treinamentos:hover{
    transform: translate(30px, -30px) rotate(10deg);
    z-index: 1;
}

.card-terceirizacao{
    width: 251px;
    height: 329px;

    border-radius: 40px;
    box-shadow: #171717 0px 10px 10px;
    
    background-image: url('../assets/card-terceirizacao.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;

    transition: .3s;
}

.card-terceirizacao:hover{
    transform: translate(20px, -50px) rotate(10deg);
    z-index: 1;
}





/* animations*/

/*homepage animations*/
@keyframes typing {
    from {width: 0; visibility: hidden;}
    to{width: 100%; visibility: visible;}
}

@keyframes typingReverse {
    from {width: 100%; visibility: visible; }
    to{width: 0; visibility: hidden;}
}

@keyframes blink-wait {
    from{ width: 0; visibility: hidden; }
    to{ width: 100%; visibility: visible; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #FFF; }
}

@keyframes fadeIn{
    from{opacity: 0}
    to{opacity: 1}
}
