@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Poppins:wght@300;400;600;700&display=swap');

*{
    /*reseting borders*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    /*smoothing the scroll transition*/
    scroll-behavior: smooth;
}

body{
    background-color: #171717;
    height: auto;
}

.bg-homepage{
    position: relative;
    width: 100%;
    height: 967px;

    background-image: url('../assets/nasa-bg.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

    opacity: 0.3;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    position: absolute;
    top: 0;
    left: 0;

    margin: 35px 55px;
    width: 90%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    animation: fadeIn 2s backwards;
}

header .logoNav{
    width: 189px;
    height: 73px;
    margin-right: 256px;
}

header .navMenu{
    display: flex;
    align-items: center;

    width: 100%;
    height: 73px;
}

.navMenu ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;
}

.navMenu a{
    text-decoration: none;
    color: white;

}

.navMenu a::after{
    content: '';
    display: block;
    text-decoration: none;
    background-color: #FFF;

    width: 0;
    height: 2px;

    transition: width .4s;
}

.navMenu a:hover::after{
    width: 100%;
    transition: width 0.3s 
}

/*main content*/
main{
    width: auto;  
}

.btn-top{
    position: fixed;
    bottom: 50px;
    right: 40px;

    width: 50px;
    height: 50px;

    background-image: url('../assets/up-arrow-svgrepo-com.svg');
    background-repeat: no-repeat;
    background-color: #171717;

    border: 3px solid #171717;
    border-radius: 50%;

    z-index: 1;

    transition: .3s;
}

.btn-top:hover{
    transform: scale(1.1);
}

/*section: homepage*/
.homepage{
    position: absolute;

    width: auto;

    top: 297px;
    left: 117px;

    animation: fadeIn 2s backwards;
    animation-delay: .2s;
}

.homepage h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    
    color: white;

    width: 872px;
    height: 294px;
}

.homepage .typing-words{
    color:#3485DA; 
    font-weight: 700;

    width: auto;
}

.typing-words span{
    text-indent:27px;
    position: absolute;
	overflow: hidden;
	
    visibility: hidden;
    border-right: 4px solid transparent;
    max-width: 27rem;
}

.typing-words span:nth-child(1){
    animation: typing 2s steps(10), typingReverse 2s steps(10) 2s, blink-wait 1s step-end 0 1.4s, blink-caret 0.5s step-end infinite;
}

.typing-words span:nth-child(2){
    animation: typing 2s steps(10) 4.3s, typingReverse 2s steps(10) 6.1s, blink-wait 1s step-end 0 3.8s, blink-caret 0.5s step-end infinite;
}

.typing-words span:nth-child(3){
    animation: typing 2s steps(10) 8.2s forwards, blink-caret 0.6s step-end infinite;
}


/*section: about-us*/
.about-us{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 900px;

    background-color: #424242;
}

.about-us article{
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: fit-content;

    height: 700px;
}

.about-us .text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 500px;

    margin-right: 100px;
}

.about-us article h2{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 60px;

    color:#FFF;
}
.about-us article h2>span{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 60px;
    color: #68B54C;
}

.about-us article p{
    margin-top: 27px;

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;

    color: #FFF;
}

.about-us article::after{
    content: '';

    max-width: 100%;

    width: 754px;
    height: 642px;

    background-image: url('../assets/about-us-photos.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

/*section: products and services*/
.products{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 900px;
}

.products article{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.products article>h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;

    color:#FFF;

    margin: 60px 0px;
}

.products .card-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    width: 90%;
    height: 430px;

    padding: 0px 48px;
    margin-top: 100px;
}

/*cards at top*/
.cards-top{
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 329px; 
}

.cards-top>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px 30px;

    width: 251px;
    height: 329px;

    border-radius: 40px;

    background-color: #FFF;

    transition: .3s;
}

.cards-top>div:hover{
    transform: scale(1.1);
}

.cards-top>div>p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;

    color: #171717;
}

.cards-top>div>img{
    width: 200px;
    height: 120px;

    margin: 21px 0px;
}

.cards-top>div>span{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;

    width: 200px;

}


/*cards at middle*/
.cards-middle{
    display: flex;
    justify-content: space-between;

    position: absolute;
    top: 50px;

    width: 55%;
    height: 329px;
}

.cards-middle>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px 30px;

    width: 251px;
    height: 329px;

    border-radius: 40px;

    background-color: #FFF;

    transition: .3s;
}

.cards-middle>div:hover{
    transform: scale(1.1);
}

.cards-middle>div>p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;

    text-align: center;

    color: #171717;
}

.cards-middle>div>img{
    width: 200px;
    height: 120px;

    margin: 21px 0px;
}

.cards-middle>div>span{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;

    width: 200px;

}


/*cards at bottom*/
.cards-bottom{
    display: flex;
    justify-content: center;

    position: absolute;
    top: 100px;

    height: 329px;
}


.cards-bottom>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px 30px;

    width: 251px;
    height: 329px;

    border-radius: 40px;

    background-color: #FFF;

    transition: .3s;
}

.cards-bottom>div:hover{
    transform: scale(1.1);
}

.cards-bottom>div>p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;

    text-align: center;

    color: #171717;
}

.cards-bottom>div>img{
    width: 300px;
    height: 150px;

    margin: 21px 0px;
}

.cards-bottom>div>span{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;

    width: 200px;
}






/* animations*/

/*homepage animations*/
@keyframes typing {
    from {width: 0; visibility: hidden;}
    to{width: 100%; visibility: visible;}
}

@keyframes typingReverse {
    from {width: 100%; visibility: visible; }
    to{width: 0; visibility: hidden;}
}

@keyframes blink-wait {
    from{ width: 0; visibility: hidden; }
    to{ width: 100%; visibility: visible; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #FFF; }
}

@keyframes fadeIn{
    from{opacity: 0}
    to{opacity: 1}
}